@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #da661c;
    background: linear-gradient(327deg, #da661c 0%,#c43612 50%, #da661c 100%);
    background-repeat: no-repeat;
    text-align: center;
    height: 100vh;
}

h1 {
    color: white;
    font-size: 1.8em;
    padding: 2em 0;
}

p {
    margin: 1em 0;
}